<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

h2 {
  margin-left: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Tripstore API</h2>

<table>
  <tr>
    <th>Reference</th>
    <th>Title</th>
    <th>URL</th>
  </tr>
  <tr>
    <td>Documentation</td>
    <td>Postman Documentation</td>
    <td>https://documenter.getpostman.com/view/1180213/RWToQHut</td>
  </tr>
  <tr>
    <td>Documentation</td>
    <td>Local Documentation</td>
    <td>http://localhost:3000/dist/index.html?url=/api-docs.json</td>
  </tr>
  <tr>
    <td>REPO</td>
    <td>Git Repository</td>
    <td>https://github.com/kairos0ne/tripstore-api</td>
  </tr>

</table>


</body>
</html>