<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

h2 {
  margin-left: 20px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Tripstore API</h2>

<table>
  <tr>
    <th>Reference</th>
    <th>Title</th>
    <th>URL</th>
  </tr>
  <tr>
    <td>Documentation</td>
    <td>API Documentation</td>
    <td>https://documenter.getpostman.com/view/1180213/RWToQHut</td>
  </tr>
  <tr>
    <td>REPO</td>
    <td>Git Repository</td>
    <td>https://github.com/kairos0ne/tripstore-api</td>
  </tr>

</table>
<h2>Table of routes</h2>
<table>
  <tr>
    <th>Prefix</th>
    <th>Verb</th>
    <th>URI Pattern</th>
    <th>Controller / Action</th>
  </tr>
  <tr>
    <td>api_v1_user_trips</td>
    <td>GET</td>
    <td>/api/v1/users/:user_id/trips(.:format)</td>
    <td>api/v1/trips#index</td>
  </tr>
  <tr>
    <td>api_v1_user_trips</td>
    <td>POST</td>
    <td>/api/v1/users/:user_id/trips(.:format)</td>
    <td>api/v1/trips#create</td>
  </tr>
  <tr>
    <td>api_v1_user_trip</td>
    <td>GET</td>
    <td>/api/v1/users/:user_id/trips/:id(.:format)</td>
    <td>api/v1/trips#show</td>
  </tr>
  <tr>
    <td>api_v1_user_trip</td>
    <td>PATCH</td>
    <td>/api/v1/users/:user_id/trips/:id(.:format)</td>
    <td>api/v1/trips#update</td>
  </tr>
  <tr>
    <td>api_v1_user_trip</td>
    <td>PUT</td>
    <td>/api/v1/users/:user_id/trips/:id(.:format)</td>
    <td>api/v1/trips#update</td>
  </tr>
  <tr>
    <td>api_v1_user_trip</td>
    <td>DELETE</td>
    <td>/api/v1/users/:user_id/trips/:id(.:format)</td>
    <td>api/v1/trips#destroy</td>
  </tr>
  <tr>
    <td>api_v1_users</td>
    <td>GET</td>
    <td>/api/v1/users(.:format)</td>
    <td>api/v1/users#index</td>
  </tr>
  <tr>
    <td>api_v1_users</td>
    <td>PATCH</td>
    <td>/api/v1/users/:id(.:format)</td>
    <td>api/v1/users#update</td>
  </tr>
  <tr>
    <td>api_v1_users</td>
    <td>PUT</td>
    <td>/api/v1/users/:id(.:format)</td>
    <td>api/v1/users#update</td>
  </tr>
  <tr>
    <td>api_v1_users</td>
    <td>DELETE</td>
    <td>/api/v1/users/:id(.:format)</td>
    <td>api/v1/users#destroy</td>
  </tr>
  <tr>
    <td>api_v1_login</td>
    <td>POST</td>
    <td>/api/v1/login(.:format)</td>
    <td>api/v1/sessions#create</td>
  </tr>
  <tr>
    <td>api_v1_logout</td>
    <td>DELETE</td>
    <td>/api/v1/logout(.:format)</td>
    <td>api/v1/sessions#destroy</td>
  </tr>
</table>


</body>
</html>