<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @user.name %></h3>
    <p>Here is your password reset link: http://tripstore.com/#/password-reset?token=<%= @user.reset_password_token %> </p>
  </body>
</html>