<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @user.name %></h3>
    <p>Welcome to Tripstore.</p>
    <p>You can login to your account here. http://www.tripstore.com/#/login</p>
    <p>You can find further info about the applaction here. http://www.tripstore/#/about</p>
    <p>Our pravacy notice can be found here. http://www.tripstore.com/#/privacy-notice</p>
  </body>
</html>